<p>member works!</p>
<div class="container">
    <div class="row">
        <div class="col-3 ">
            <span class="display-4">FARM</span>
            <span class="display-4 text-success">REV</span>
            <section>
                <h4 >Quality</h4>
                <span>100%Trust</span>
            </section>
            <section>
                <h4>Return Policy</h4>
                <span>seamiess</span>
            </section>
            <section>
                <h4>Deliver Online</h4>
                <span>99% on time</span>
            </section>

        </div>
        <div class="col-7 ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title  font-weight-bolder"><h1> Create Account</h1></div>
                   <div>
                       <input type="text" placeholder="Your name" size="80">
                   </div>
                   <div>
                        <input type="text" placeholder="Mobile number" size="80">
                    </div>
                    <div>
                            <input type="text" placeholder="Invite code" size="80">
                        </div>
                        <div>
                                <input type="text" placeholder="Email" size="80">
                            </div>
                            <div>
                                    <input type="text" placeholder="Password" size="80">
                                    <span >password must be atleast 6 characters</span>
                                </div>
                                <div class="m-4">
                                    <p class="m-0">We will send you a text to verify your phone.</p>
                                    <p class="mt-0">Message and Dta rates may apply</p>
                                </div>
                                <div>
                                    <button class="btn btn-success btn-block">Continue</button>
                                    <span>
                                        By signing up you agree to our <a href="#">Terms And Conditions</a>
                                    </span>
                                </div>

        </div>
        <div class="card-footer">
          <h6>Already have an account?<a href="#">Sign in</a></h6>
        </div>

    </div>

</div>
